body {
  font: 4px "Century Gothic", Futura, sans-serif;
  margin: 0;
	padding: 0;
}

ol, ul {
  padding-left: 10px;
}

@media screen and ( max-width:479px ){
  body{
    margin: 5px;
    padding: 5px;
  }
  .alert{
    display: none;
    color: red;
  }
  .game-info {
    display: none;
  }
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 30px;
  }

}
@media screen and ( min-width:480px ){
  body{
  margin: 0 ;
	padding: 0 ;
  }
  .game-info {
    margin-left: 10px;
  }
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 40px;
  }
}

.board-row{
  display: inline;
}
.board-row:nth-child(10n):after{
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.square:hover {
  background-color: #C0C0C0;
}

.playerX {
  background-color: #FF0000	;
}
.playerO {
  background-color: #0000FF;
}
.square:focus {
  outline: none;
}


.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}
