@-webkit-keyframes bg-color {
  0% { background-color: #FFFFFF; }
  20% { background-color: #CCFFcc; }
  40% { background-color: #CCFF99; }
  60% { background-color: #CCFF66; }
  80% { background-color: #CCFF33; }
  100% { background-color: #CCFF00; }
}
@keyframes bg-color {
  0% { background-color: #FFFFFF; }
  20% { background-color: #CCFFcc; }
  40% { background-color: #CCFF99; }
  60% { background-color: #CCFF66; }
  80% { background-color: #CCFF33; }
  100% { background-color: #CCFF00; }
}

body {
  font: 4px "Century Gothic", Futura, sans-serif;
  animation: bg-color 5s infinite alternate;
  -webkit-animation: bg-color 5s infinite alternate;
}

ol, ul {
  padding-left: 10px;
}


@media screen and ( max-width:479px ){
  body{
    margin: 5px;
    padding: 5px;
  }
  .alert{
    display: none;
    color: red;
  }
  .game-info {
    display: none;
  }
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 30px;
  }
  .swal-overlay {
    background:
  }
  .swal-modal {
  background-color: white;
  border: 10px solid #FF99CC;
  }
  .swal-button {
  padding: 7px 19px;
  height: 50px;
  border-radius: 2px;
  background-color: #FF1A6F;
  font-size: 15px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  display: inline;
  }
  .swal-button:hover {
    background-color: #FF0099;
  }
  .swal-text {
  background-color: white;
  padding: 15px;
  display: block;
  margin: 12px;
  text-align: center;
  color: #FF99CC;
  }
}
@media screen and ( min-width:480px ){
  body{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;

    width: 1280px;
    height: 640px;
  }
  .game-info {
    margin-left: 25px;
    font-size: 20px;
    display: list-item;
  }
  button {
    width: 120px;
    height: 50px;
  }
  button:hover {
    background-color: #C0C0C0;
  }
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    height: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 60px;
  }
}

.board-row{
  display: inline;
}
.board-row:nth-child(10n):after{
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.square:hover {
  background-color: #C0C0C0;
}

.playerX {
  background-color: #FF0000	;
}
.playerO {
  background-color: #0000FF;
}
.square:focus {
  outline: none;
}


.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}
